body {
    background: #eaeaea;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}
#background {
    background: #ffffff;
    border: 10px solid #1890d8;
    outline: 1px solid white;
    width: 800px;
    margin: 100px auto;
    padding: 20px 20px 10px 20px;
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.5);
}
h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: #646464;
    margin: 0 0 15px 0;
    padding-left: 10px;
}
.productLogo {
    vertical-align: middle;
    margin: 0 0 15px 0;
}
.heading {
    background: #1890d8;
    color: white;
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
}
.heading span {
    padding-left: 5px;
    display: block;
}
#chooseFilter {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 5px;
}
.form {
    margin: 0;
}
.form ul {
    margin: 0;
    padding: 0;
}
.form ul li {
    text-decoration: none;
    display: block;
    margin: 15px 0;
}
.otherProducts {
    display: flex;
    flex-direction: row;
}
.otherProducts li {
    list-style-type: none;
    margin-left: auto;
}
.form ul li span {
    display: inline-block;
    word-break: break-word;
}
.form ul .button {
    margin: 0;
    display: inline-block;
}
.form ul label {
    width: 125px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: top;
}
label {
    font-weight: bold;
}
.requestButton {
    display: inline-block;
    background: #1EC74E;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px 7px 15px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px 0;
    border-bottom: 4px solid #179C3D;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.requestButtonAnchor {
    background: #1EC74E;
    border-radius: 5px;
    padding: 10px 15px 7px 15px;
    color: #FFFFFF;
    font-size: 13px;
    border-bottom: 4px solid #179C3D;
    text-decoration: none;
    display: inline-block;
}
.powered {
    display: block;
    text-align: right;
    margin: 10px 0 0 0;
    font-size: 11px;
    color: #7b7b7b;
}
.powered a {
    color: #1890d8
}
.slideIn2,
.slideIn3,
.slideIn4 {
    display: none;
}
.userInfo {
    display: inline-block;
    text-align: right;
}
.userHeader {
    margin: 0px 0px 10px 0;
    position: relative;
}
.userInfoWrapper {
    float: right;
}
#userimage {
    width: 32px;
}
.left {
    float: left;
    width: 30%;
    text-align: center;
}
.right {
    float: right;
    width: 30%;
    text-align: center;
}
.other {
    background: rgba(30, 102, 199, 0.67);
    border-bottom: 4px solid rgba(23, 79, 156, 0.67);
}
.firststep {
    width: 100%;
}

div[class^="step"] {
    position: relative;
}
.overlayModal {
    display: none;
    background: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}
.errorMessage {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 }
 .errorOverlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 1;
 }
 
 .errorMessage pre {
  background: #f1f8ff;    
  border: 1px solid #82beff;    
  padding: 10px;    
  white-space: pre-wrap;
}

.errorMessage h1 {  
   display: block;  
   background: #0793dc;    
   color: white;    
   padding: 3px 5px;     
   font-weight: normal;    
   font-size: 20px; 
}
.errorMessage p {    
    background: #ffd8d8;    
    border: 1px solid #d66d6d;    
    padding: 10px; 
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .version {
    background: #98c714;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #f1f1f1;
    padding: 1px 4px;
    margin-top: 10px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    h1 {
        font-size: 20px;
        width: 80%;
    }
    .form ul .button {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 567px) {
    #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    h1 {
        font-size: 20px;
        width: 80%;
    }
    .form ul .button {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
    .left {
        float: none;
        width: auto;
        display: block;
    }
    .right {
        float: none;
        display: block;
        width: auto;
    }
    .product-logo {
        width: 24px;
    }
    .userInfoWrapper {
        float: none;
        display: block;
        text-align: center;
        background: #f1f1f1;
        padding: 10px 3px;
    }
    .userInfo {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        max-width: 85%;
        margin-right: 10px;
    }
    #username {
        font-weight: bold;
    }
    #usercompany {
        font-style: italic;
    }
    #userimage {
        display: inline-block;
        width: 32px;
        vertical-align: middle;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    h1 {
        font-size: 20px;
        width: auto;
    }
    .form ul .button {
        text-align: center;
    }
    .form ul li {
        margin: 5px 0;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
        width: 150px;
        padding: 10px 5px 7px 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
    .left {
        float: none;
        display: inline-block;
        width: 50%;
    }
    .right {
        float: none;
        display: inline-block;
        width: 50%;
    }
}