<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="MetaAuthor" name="AUTHOR" content="Invantive">
    <meta name="description" content="BTW Tools">
    <meta id="MetaKeywords" name="KEYWORDS" content="btw, tools, ">
    <meta name="RESOURCE-TYPE" content="DOCUMENT">
    <meta id="MetaRobots" name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="DISTRIBUTION" content="GLOBAL">
    <meta name="RATING" content="GENERAL">
    <meta name="author" content="Invantive">
    <link rel="shortcut icon" href="../../favicon.ico">
    <title>BTW Tools</title>
    <meta name="og:description" content="BTW Tools">
    <link href="btw-tools-nl.css" type="text/css" rel="stylesheet">
    <link href="angular-busy.css" type="text/css" rel="stylesheet">
    <link rel="apple-touch-icon" href="btw-tools-nl-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="btw-tools-nl-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="btw-tools-nl-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="btw-tools-nl-touch-icon-ipad-retina.png">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="https://cdn.rawgit.com/SlexAxton/messageformat.js/v1.0.2/messageformat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.js"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.15.2/angular-translate.js"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-interpolation-messageformat/2.15.2/angular-translate-interpolation-messageformat.js"></script>
    <script type="text/javascript" src="angular-busy.js"></script>
    <script type="text/javascript" src="invantive.js"></script>
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#67a5db">
    <meta name="dcterms.dateCopyrighted" content="2004-2017">
    <script type="text/javascript" async="" defer="" src="https://piwik.invantive.com/piwik.js"></script>
    <script type="text/javascript">	
    
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer', '30']);
        _paq.push(['setSessionCookieTimeout', '3600']);
        
        (function () {
            var u = "https://piwik.invantive.com/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 58]);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();

    </script>
    <noscript><img src="https://piwik.invantive.com/piwik.php?idsite=58&amp;rec=1" alt="" style="border:0;"></noscript>
</head>

<body>
    <div id="background">
        <div id="container" ng-app="vatBox" ng-controller="vat" cg-busy="spinnerGet">
            <div class="errorMessage er500"></div>
            <div class="errorOverlay"></div>
            <div class="step1">
                <div class="userHeader">
                <a class="bsrBack"><img class="productlogo" src="btw-tools-nl-logo-32x32.svg"></a>
                <h1 translate="itgen_bt_heading"></h1>
                <div class="userInfoWrapper">
                <span class="userInfo">
                <div id="username"></div>
                <div id="usercompany"></div>
                </span>
                <img id="userimage" />
                </div>
                </div>
                <div class="slideIn">
                <h2 class="heading"><span translate="itgen_bt_toolname_fiscal"></span></h2>
                <div id="chooseFilter">
                    <div class="form">
                        <ul>
                            <li class="button" onclick="javascript:_paq.push(['trackEvent', 'Button Clicked:', 'BTW Boekstukregels (fiscale eenheid)']);">
                                <a class="requestButton bsrFiscal" ng-click="startVat()" translate="itgen_bt_button_vat"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h2 class="heading"><span translate="itgen_bt_toolname_div"></span></h2>
                <div id="chooseFilter">
                    <div class="form">
                        <ul>
                            <li class="button" onclick="javascript:_paq.push(['trackEvent', 'Button Clicked:', 'BTW Boekstukregels (1 administratie)']);">
                                <a class="requestButton bsrOne" ng-click="startSingle()" translate="itgen_bt_button_vat"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                    <ul class="otherProducts">
                          <li class="button">
                              <a class="requestButton other" href="https://apps.exactonline.com/nl/nl-NL/?search=invantive" target="_blank" translate="itgen_bt_other"></a>
                          </li>
                    </ul>
                </div>
            </div>
            <div class="step2">
                <div class="slideIn2">
                <h2 class="heading"><span translate="itgen_bt_choose_division"></span></h2>
                <div id="chooseFilter">
                    <div class="form">
                        <ul>
                            <li>
                                <label translate="itgen_bt_division"></label>
                                <select class="division" ng-model="division" ng-change='showYear()' onclick="javascript:_paq.push(['trackEvent', 'Option Selected:', 'Division Chosen']);">
                                    <option ng-repeat="x in myDivisions" value="{{ x.Code }}">{{ x.Label }}</option>
                                </select>
                            </li>
                            
                            <li>
                                <label translate="itgen_bt_fiscal_year"></label>
                                <select class="year" ng-model="year" ng-change='showPeriod()' onclick="javascript:_paq.push(['trackEvent', 'Option Selected:', 'Year Chosen']);">
                                    <option ng-repeat="x in myYears" value="{{ x.FINYEAR }}">{{ x.FINYEAR }}</option>
                                </select>
                            </li>
                            <li>
                                <label translate="itgen_bt_period_from"></label>
                                <select class="start" ng-model="periodstart" style="display:inline-block" onclick="javascript:_paq.push(['trackEvent', 'Option Selected:', 'Periodstart Chosen']);">
                                    <option ng-repeat="x in myPeriods" value="{{ x.FinPeriod }}">{{ x.FinPeriod }}</option>
                                </select>
                                <span translate="itgen_bt_up_to"></span>
                                <select class="end" ng-model="periodend" style="display:inline-block" onclick="javascript:_paq.push(['trackEvent', 'Option Selected:', 'Periodend Chosen']);">
                                    <option ng-repeat="x in myPeriods" value="{{ x.FinPeriod }}">{{ x.FinPeriod }}</option>
                                </select>
                            </li>
                            <li class="button">
                                <a class="requestButton csvGet" ng-click='downloadCsv()' onclick="javascript:_paq.push(['trackEvent', 'Button Clicked:', 'CSV Download']);" translate="itgen_bt_button_vat"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                
               <div class="slideIn3">
                <h2 class="heading"><span translate="itgen_bt_choose_fiscal_entity"></span></h2>
                <div id="chooseFilter">
                    <div class="form">
                        <ul>
                            <li>
                                <label translate="itgen_bt_fiscal_entity"></label>
                                <select class="tax" ng-model="tax">
                                    <option ng-repeat="x in myTax" value="{{ x.VATNUMBER }}" title="{{ x.DIVISION_LABEL_LIST }}">{{ x.VATNUMBER }} ({{ x.DIVISION_CNT }})</option>
                                </select>
                            </li>
                            <li>
                                <label translate="itgen_bt_fiscal_year"></label>
                                <select class="year" ng-model="yearfis" ng-change='showPeriod()'>
                                    <option ng-repeat="x in myYearsFis" value="{{ x.FINYEAR }}">{{ x.FINYEAR }}</option>
                                </select>
                            </li>
                            <li>
                                <label translate="itgen_bt_period_from"></label>
                                <select class="start" ng-model="periodfisstart" style="display:inline-block">
                                    <option ng-repeat="x in myPeriodsFis" value="{{ x.FinPeriod }}">{{ x.FinPeriod }}</option>
                                </select>
                                <span translate="itgen_bt_up_to"></span>
                                <select class="end" ng-model="periodfisend" style="display:inline-block">
                                    <option ng-repeat="x in myPeriodsFis" value="{{ x.FinPeriod }}">{{ x.FinPeriod }}</option>
                                </select>
                            </li>
                            <li class="button">
                                <a class="requestButton csvGet" ng-click='downloadCsvFis()' onclick="javascript:_paq.push(['trackEvent', 'Button Clicked:', 'CSV Download']);" translate="itgen_bt_button_vat" ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                
                <div class="slideIn4">
                <h2 class="heading"><span translate="itgen_ct_choose_country"></span></h2>
                <div id="chooseFilter">
                    <form class="form" action='btw-tools-nl.html'>
                        <ul>
                            <li>
                                <label translate="itgen_ct_country"></label>
                                <select name="country" class="country" ng-model="selectedCountry" onclick="javascript:_paq.push(['trackEvent', 'Option Selected:', 'Country Chosen']);">
                                    <option ng-repeat="x in myCountries" value="{{ x.Code }}">{{ x.Label }}</option>
                                </select>
                            </li>
                            <li class="button">
                                <a class="requestButton" type="submit" translate="itgen_ct_choose_country" onclick="javascript:_paq.push(['trackEvent', 'Button Clicked:', 'Country Chosen']);" ></a>
                            </li>
                        </ul>
                    </form>
                </div>
                </div>
                
            </div>
            <div class="footer"><span class="version">1.0.2</span> <span class="powered"><a href="https://www.invantive.com" translate="itgen_bt_powered"></a></span></div>
        </div></div> 
        <script src="app.js" type="text/javascript"></script>       
    <!-- Start of Rocket.Chat Livechat Script -->
    <script type="text/javascript">
    (function(w, d, s, u) {
     w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
     var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
     j.async = true; j.src = 'https://rocketchat.invantive.com/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
     h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://rocketchat.invantive.com/livechat');
    </script>
    <!-- End of Rocket.Chat Livechat Script -->		
</body>

</html>